@charset "utf-8";
/* CSS Document */

/* @import url(https://fonts.googleapis.com/css?family=Roboto); */
/* @import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One); */

* {
  font-family: 'Roboto', sans-serif;
}

code {
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: rgba(245, 245, 245, 0.7) !important;
  text-align: left;
}

.well {
  padding: 0 25px;
  margin-bottom: 25px;
  background-color: rgba(245, 245, 245, 0.7);
  border-radius: 5px;
}

#msg {
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.btn-group-justified {
  margin: 0 auto;
  margin-top: 10px;
}

h1 {
  text-align: center;
  padding-bottom: 25px;
}

.container {
  padding-top: 50px;
  padding-bottom: 50px;
}

a{
  color: #ccd500;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #a9b119;
}

.slotMachine .slot{
  height:100px;
  background-position-x: 55%;
  background-repeat: no-repeat;
}

.slot1 {
  background-image: url("../img/slot1.png");
}

.slot2 {
  background-image: url("../img/slot2.png");
}

.slot3 {
  background-image: url("../img/slot3.png");
}

.slot4 {
  background-image: url("../img/slot4.png");
}

.slot5 {
  background-image: url("../img/slot5.png");
}

.slot6 {
  background-image: url("../img/slot6.png");
}

/*
 * Header
 */
.header-line {
  width: 100%;
  position: absolute;
  height: 10px;
  background-color: #A48E4E;
  top: 0px;
}

header {
  margin-top: 10px;
  background-color: #DCD293;
  border-bottom: 10px solid #66D4FF;
  border-top: 20px dashed #A48E4E;
  padding: 2em;
  color:#333;
  font-size: 25px;
  text-align: center;
}

header a {
  color: #6C5726;
  font-weight: 700;
}

/*
 * Airlines
 */
#word {
  height: 100vh;
  width: 100vw;
  position: relative;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
}

footer .content{
  font-family: 'Pathway Gothic One';
  font-size: 70px;
  font-weight: 300;
  line-height: 80px;
}

#word .content {
  font-family: 'Pathway Gothic One';
  width: 100%;
  float: left;
  font-size: 45px;
  font-weight: 300;
  line-height: 42px;
  margin-top: 30px;
  text-align: center;
}

.word-list {
  height: 80px;
  margin-left: -30px;
  overflow: hidden;
  display: inline-block;
  text-align: left;
}

.word-list .text-center {
  line-height: 85px;
}

/*
 * Footer
 */
footer {
  width:100%;
  background-color: #6C5726;
  border-top: 20px dashed #A48E4E;
  height: 180px;
  padding-top: 40px;
  text-align: center;
  color: #DCD293;
}
